/*
 * @Description: 重置vant官方组件样式定制ylz组件样式
 * @Version: v1.0.0
 * @Autor: xyDideo
 * @Date: 2020-06-16 17:17:34
 * @LastEditors: Chenyt
 * @LastEditTime: 2020-07-09 14:47:32
 */ 

/************************* button 重置开始 *************************/
.van-button{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.van-button--round {
  border-radius: 999px !important;
  -webkit-border-radius: 999px !important;
  -moz-border-radius: 999px !important;
  -ms-border-radius: 999px !important;
  -o-border-radius: 999px !important;
}
// 中等按钮 
.van-button--normal {
  width: auto;
  height: 34px * $ratio;
  font-size: 14px * $ratio;
  line-height: 34px * $ratio;
  padding-left: 24px * $ratio;
  padding-right: 24px * $ratio;
}
// 小型按钮 
.van-button--small {
  width: auto;
  height: 28px* $ratio;
  font-size: 14px* $ratio;
  line-height: 28px* $ratio;
  padding-left: 16px* $ratio;
  padding-right: 16px* $ratio;
}
// 调整默认蓝色按钮点击颜色
.van-button--info {
  &::before {
    background-color: $active_blue_color;
    border-color: $active_blue_color;
  }
  &:active::before {
    opacity: 0.4;
  }
}
// 调整幽灵蓝色按钮点击颜色
.van-button--info.van-button--plain {
  &::before {
    background-color:$blue_color;
    border-color: $blue_color;
  }
  &:active::before {
    opacity: 0.1;
  }
}
// 调整默认绿色按钮点击颜色
.van-button.van-button--primary {
  &::before {
    background-color: $active_success_color;
    border-color: $active_success_color;
  }
  &:active::before {
    opacity: 0.4;
  }
}
// 调整幽灵绿色按钮点击颜色
.van-button.van-button--primary.van-button--plain {
  &::before {
    background-color:$success_color;
    border-color: $success_color;
  }
  &:active::before {
    opacity: 0.1;
  }
}
// 调整默认橙色按钮点击颜色
.van-button.van-button--warning {
  &::before {
    background-color: $active_warn_color;
    border-color: $active_warn_color;
  }
  &:active::before {
    opacity: 0.4;
  }
}
// 调整幽灵橙色按钮点击颜色
.van-button.van-button--warning.van-button--plain {
  &::before {
    background-color:$warn_color;
    border-color: $warn_color;
  }
  &:active::before {
    opacity: 0.1;
  }
}
// 调整默认红色按钮点击颜色
.van-button.van-button--danger {
  &::before {
    background-color: $active_danger_color;
    border-color: $active_danger_color;
  }
  &:active::before {
    opacity: 0.4;
  }
}
// 调整幽灵红色按钮点击颜色
.van-button.van-button--danger.van-button--plain {
  &::before {
    background-color:$danger_color;
    border-color: $danger_color;
  }
  &:active::before {
    opacity: 0.1;
  }
}
/************************* button 重置结束 *************************/




/************************* checkbox 重置开始 *************************/
$label_height: 44px;
.van-checkbox__label, .van-radio__label{
  font-size: 14px;
  height: $label_height;
  line-height: $label_height;
}
.van-checkbox__label font, .van-radio__label font{
  line-height: $label_height;
}
.van-checkbox__label span, .van-radio__label span{
  line-height: $label_height;
}
.icon-radio-default {
  color: $four_text_color;
}
.icon-radio-choose {
  color: $blue_color;
}
.icon-check-active, .icon-check {
  color: $blue_color;
}
.icon-checkbox-default{
  color: $four_text_color;
}
.icon-checkbox-checked{
  color: $blue_color;
}
/************************* checkbox 重置结束 *************************/






/************************* search 重置开始 *************************/
.van-search {
  height: 44px* $ratio;
  .van-cell {
    flex: 1;
    height: 28px* $ratio;
    line-height: 20px* $ratio !important;
    padding: 4px* $ratio 8px* $ratio 4px* $ratio 0;
    font-size: 14px* $ratio;
    &__left-icon {
      color: $four_text_color;
    }
  }
  .van-field__body input{
    color: $main_text_color;
    caret-color: $main_color;
  }
  .van-field__body input::-webkit-input-placeholder{ /*WebKit browsers*/
    color: $third_text_color;
  }
  .searchBar {
    text-align: center;
    padding: 15px 0px;
  }
  .icon {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }
  .van-field__clear{
   color: $four_text_color; // icon-清除
  }
  .icon-left,.icon {
    font-size:30px;
    & .iconfont{
      font-size:30px;
      color:$four_text_color
    }
  }
  .icon-left{
    left: 38vw;
  }
  .text-right {
    color: $blue_color;
    letter-spacing: 0;
    text-align: right;
    font-size: 14px * $ratio;
  }
}
.dropdown-search .van-dropdown-menu{
  height: 44px* $ratio;
  .van-dropdown-menu__title{
    font-size: 14px* $ratio;
    &:after{
      margin-top: -4px* $ratio;
      border: 3px* $ratio solid;
      border-color: transparent transparent currentColor currentColor;
    }
  }
}
// 下拉icon右对齐
.van-dropdown-item__content{
  .van-cell .van-icon {
    text-align: right;
  }
}
// [class*="van-hairline"]::after {
//     content: none;
// }
/************************* search 重置结束 *************************/




/************************* upload 重置开始 *************************/

//上传文件图标换成加号
/deep/ .van-icon-photograph::before {
  content: "\F0A2";
}
/deep/ .van-uploader__upload {
  border: 1px dashed $border_color;
}
/deep/.van-icon.van-uploader__upload-icon{
  font-size: 32px * $ratio;
  position: relative;
  top: -8px * $ratio;
  color: $third_text_color;
}
/deep/ .van-uploader__upload i::after {
  content: "添加图片";
  width: 60px* $ratio;
  font-size: 14px* $ratio;
  position: absolute;
  left: 50%;
  margin-left: -30px* $ratio;
  text-align: center;
  top: 34px* $ratio;
  color: $third_text_color;
}
// 删除icon重置
/deep/ .van-uploader__preview-delete {
  width: 14px* $ratio;
  height: 14px* $ratio;
  background: rgba(0,0,0,0.6);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  top: 1px* $ratio;
  right: 1px* $ratio;
}
/deep/ .van-uploader__preview-delete::before {
  content: "";
  width: 8px* $ratio;
  height: 1px* $ratio;
  border-radius: 4px* $ratio;
  -webkit-border-radius: 4px* $ratio;
  -moz-border-radius: 4px* $ratio;
  -ms-border-radius: 4px* $ratio;
  -o-border-radius: 4px* $ratio;
  background-color: #fff;
  position: absolute;
  top: 6px* $ratio;
  left: 3px* $ratio;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/deep/ .van-uploader__preview-delete::after {
  content: "";
  width: 8px* $ratio;
  height: 1px* $ratio;
  border-radius: 4px* $ratio;
  -webkit-border-radius: 4px* $ratio;
  -moz-border-radius: 4px* $ratio;
  -ms-border-radius: 4px* $ratio;
  -o-border-radius: 4px* $ratio;
  background-color: #fff;
  position: absolute;
  top: 6px* $ratio;
  left: 3px* $ratio;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
/************************* upload 重置结束 *************************/


/************************* step 重置开始 *************************/

/deep/.van-stepper__minus{
  border-radius: 4px* $ratio;
}
/deep/.van-stepper__plus{
  border-radius: 4px* $ratio;
}
/deep/ .van-stepper__minus::before,
/deep/ .van-stepper__plus::before {
  width: 12px* $ratio;
  height: 2px* $ratio;
}
/deep/ .van-stepper__minus::after,
/deep/ .van-stepper__plus::after {
  width: 2px* $ratio;
  height: 12px* $ratio;
}
.round /deep/ .van-stepper__minus,
.round /deep/.van-stepper__plus {
  border-radius: 14px* $ratio;
}
.pluid /deep/ .van-stepper__minus,
.pluid /deep/.van-stepper__plus {
  background-color: #ffffff;
  border: 1px* $ratio solid $blue_color;
  color: $blue_color;
}
.van-stepper__input {
  background-color: #ffffff !important;
  margin-left:12px !important;
  margin-right:12px !important;
}

/************************* step 重置结束 *************************/



/************************* slider 重置开始 *************************/
.van-slider__button {
  border: 2px solid $blue_color;
}
/************************* slider 重置结束 *************************/


/************************* picker 重置开始 *************************/
/deep/.van-picker__cancel {
  color: $main_text_color;
}
/************************* picker 重置结束 *************************/


/************************* badge 重置开始 *************************/
.van-info {
  background-color: $danger_color;
  font-size: 12px;
  line-height: 16px;
}
/************************** badge 重置结束 *************************/


/************************* tag 重置开始 *************************/
.tag-disabled {
  opacity: 0.3;
}
.van-tag__close{
  width: 16px;
  height: 16px;
  background: $danger_color;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: absolute;
  right: 0;
  top: -6px;
  z-index: 99;
}

.van-tag__close::before{
  content: "";
  width: 9px;
  height: 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.van-tag__close::after{
  content: "";
  width: 9px;
  height: 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
/************************* tag 重置结束 *************************/


/*************************  通告栏 NoticeBar 重置开始 *************************/
.van-notice-bar__content{
  display: block;
  width: 100%;
  text-align: center;
}
.van-notice-bar__content /deep/.van-icon{
  position: relative;
  top: 3px* $ratio;
}
.notice-success{
  color: $success_color;
  background: $light_success_color;
}
.notice-danger{
  color: $danger_color;
  background: $light_danger_color;
}
.notice-warn{
  color: $warn_color;
  background: $light_warn_color;
}
/*************************  通告栏 NoticeBar 重置结束 *************************/


/*************************  通告栏 vanSwitch 重置开始 *************************/
.van-switch {
  box-sizing: border-box !important;
  .van-switch__node{
    top: 0px !important;
    left: 1px;
  }
  &--on {
    .van-switch__node {
      transform: translateX(20px) !important;
      -webkit-transform: translateX(20px) !important;
      -moz-transform: translateX(20px) !important;
      -ms-transform: translateX(20px) !important;
      -o-transform: translateX(20px) !important;
    }
  }
}
/*************************  通告栏 vanSwitch 重置结束 *************************/


/*************************  通告栏 list 重置开始 *************************/
.van-cell{
  background-color: #fff;
  &__left-icon {
    margin-right: 0px;
  }
  word-break: keep-all;
  .list-right-value{
    color: $third_text_color;
  }
  .tip-wrap {
    display: flex;
    align-items: center;
    height: 30px;
    .ignore-tip {
      height: 30px;
      max-width: 60px;
      font-size: 24px;
      line-height: 30px;
      color: $border_color;
      margin-left: 8px;
      word-break: keep-all;
    }
  }
  // 统一icon颜色
  .van-icon{
    color: $border_color;
    font-size: 18px* $ratio;
    line-height: inherit;
    text-align: left;
  }
  .van-icon-arrow,
  .van-icon-arrow-down,
  .van-icon-arrow-up,
  .van-icon-arrow-left{
    font-size: 15px* $ratio;
    text-align: right;
  }
  .van-cell__label{
    color: $third_text_color;
  }
}

/*************************  通告栏 list 重置开始 *************************/



/************************* input 重置开始 *************************/
.ignore-explain{
  font-size: 12px* $ratio;
  display: inline-block;
  color: $blue_color;
  margin-left: $space_8;
}
.field-ignore-tip{
  .van-field__control--right{
    padding-left: 38px !important;
  }
}
.van-field__label {
  flex: none;
  box-sizing: border-box;
  width: 90px;
}
.van-field__label--center {
  text-align: center;
}
.van-field__label--right {
  padding-right: 16px;
  text-align: right;
}
.van-field__value {
  overflow: visible;
}
.van-field__body {
  display: flex;
  align-items: center;
}
.van-field__control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  color: $main_text_color;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0;
  resize: none;
}
.van-field__control::placeholder {
  color: $four_text_color;
}
.van-field__control:disabled {
  color: $third_text_color;
  background-color: transparent;
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: currentColor;
}
.van-field__control:read-only {
  cursor: default;
}
.van-field__control--center {
  justify-content: center;
  text-align: center;
}
.van-field__control--right {
  justify-content: flex-end;
  text-align: right;
}
.van-field__control--custom {
  display: flex;
  align-items: center;
  min-height: 30px;
}
.van-field__control[type='date'],
.van-field__control[type='time'],
.van-field__control[type='datetime-local'] {
  min-height: 30px;
}
.van-field__control[type='search'] {
  -webkit-appearance: none;
}
.van-field__clear,
.van-field__icon,
.van-field__button,
.van-field__right-icon {
  flex-shrink: 0;
}
.van-field__button {
  padding-left: 8px;
}
.van-field__error-message {
  color: $danger_color;
  font-size: 12px;
  text-align: left;
}
.van-field__error-message--center {
  text-align: center;
}
.van-field__error-message--right {
  text-align: right;
}
.van-field__word-limit {
  margin-top: 4px;
  color: $second_text_color;
  font-size: 12px* $ratio;
  line-height: 16px;
  text-align: right;
}
.van-field__word-num--full {
  color: $danger_color;
}
.van-field--error .van-field__control,
.van-field--error .van-field__control::placeholder {
  color: $four_text_color;
  -webkit-text-fill-color: currentColor;
}
.van-field--min-height .van-field__control {
  min-height: 60px;
}
.disabled-label {
  color: $third_text_color;
}
.ignore-btn-code {
  padding-left: 12px;
  padding-right: 8px;
  background: $main_bg_color;
  border-radius: 2px;
  display: flex;
  align-items: center;
  .icon-refresh {
    margin-top: 0px;
    margin-left: 7px;
    display: inline-block;
    margin-bottom: -3px;
    color: $second_text_color;
    font-size: 15px;
  }
}

/************************* input 重置结束 *************************/


/*************************  card 重置开始 *************************/
.van-panel-content{
  font-size: 14px;
  color: $second_text_color;
  line-height: 20px;
  padding: 4px 10px 20px 30px;
}
.card-list.van-cell{
  padding-top: 14px;
}
.card-list.van-cell:not(:last-child)::after{
  border-bottom: 0 !important;
}

.card-list {
  .van-cell__title{
    line-height: 24px;
    font-size: 16px;
  }
  .card-title-icon{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    margin-right: 8px;
  }
}
.card-list.van-cell{
  padding-bottom: 0;
}
.card-list-buttom{
  text-align: right;
  height: 72px;
  .van-button{
    display: inline-block;
  }
}
// 列表里面的 cell
.card-list-cell {
  padding-bottom: 12px;
  padding-left: 20px;
  .van-cell{
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    color: $second_text_color;
    border-bottom: 0;
    &::after{
      border-bottom: 0;
    }
  }
}

.van-panel-footer {
  font-size: 14px;
  color: $second_text_color;
  line-height: 20px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 4px;
}
.van-panel-footer-arrow {
  padding: 0;
  padding-left: 12px;
}
.van-panel-footer-content {
  font-size: 14px;
  color: $second_text_color;
  line-height: 20px;
  padding-left: 12px;
}
.card-list-round {
  border-radius: 30px;
  margin: 32px;
  overflow: hidden;
}
.card-list-round-r{
  color: $third_text_color;
}
// title has label
.card-list-title-label{
  height: 136px;
  padding-top: 16px !important;
  margin-bottom: 10px;
  .van-cell__title{
    margin-top: 4px;
  }
  #v_header_title{
    margin-bottom: 0 !important;
  }
  .van-cell__label{
    font-size: 14px;
    color: $second_text_color;
    margin-top: 0 !important;
    padding-left: 8px;
  }
  .tips{
    font-size: 36px !important;
    color: $danger_color;
  }
}
.card-list-assist.van-cell{
  padding: 0 0 4px 0;
  &:not(:last-child)::after{
    border: 0;
  }
}
.card-list-assist{
  .van-cell__title{
    line-height: 24px;
    font-size: 14px;
  }
}
// has label
.card-list-label{
  .custom-title{
    font-size: 14px;
    color: $second_text_color;
  }
  .van-cell__label{
    font-size: 12px;
    color: $four_text_color;
    margin-top: 0;
  }
}

// has img
.card-list-imgs{
  padding-top: 48px;
  height: 144px;
  .van-cell__value{
    color: $four_text_color;
    font-size: 12px;
  }
  .card-list-img-title{
    span{
      font-size: 36px !important;
      }
      p{
        font-size: 28px;
        color: $third_text_color;
        margin: 0;
      }
    } 
    /deep/.van-cell__title{
      height: 60px* $ratio;
    }
  }
.card-list-imgs-content{
  padding: 24px 32px 32px 24px;
  font-size: 28px;
  color: $second_text_color;
}
/deep/.card-list-imgs-content2{
  font-size: 28px* $ratio;
  margin-bottom: 16px* $ratio;
  margin-top: 8px* $ratio;
  color: $second_text_color;
  padding-left: 0;
  /deep/.van-panel__footer{
    padding: 0 !important;
  }
  /deep/.card-list{
    padding: 0!important;
  }
  .van-cell__value{
    font-size: 12px* $ratio;
    color: $four_text_color;
  }
}

// round card
.card-list-round {
  padding-bottom: 24px;
  .van-cell:not(:last-child)::after{
    border: 0;
  }
  .van-cell{
    padding: 4px 16px;
  }
  .card-list-round-header{
    color: $second_text_color;
    margin-bottom: 16px;
    &:not(:last-child)::after{
      width: calc(100% - 64px) !important;
      border-bottom: 1px dashed $second_border_color;
    }
    padding: 24px 32px;
    .van-cell__title{
      font-size: 16px;
    }
  }
  .card-list-round-r-large{
    font-size: 32px;
    color: $second_text_color;
  }
  .card-list-round-r-default-w{
    font-size: 28px;
    color: $second_text_color;
  }
  .card-list-round-main{
    .card-list-round-header{
      margin-bottom: 0;
      color: $blue_color !important;
      padding: 24px 32px;
      .van-cell__title{
        font-size: 16px;
      }
    }
  }
  .van-panel__content {
    .van-cell__title{
      color: $third_text_color;
    }
  }
  .card-color-main{
    color: $blue_color;
    .van-cell__title{
      color: $blue_color;
    }
  }
  .card-color-second-text{
    color: $second_text_color;
    .van-cell__title{
      color: $second_text_color;
    }
  }
}
.card-list-round-bottom{
  .van-cell__title{
    color: $main_text_color;
  }
  .card-list-round-header{
    margin-bottom: 0;
    padding-bottom: 8px;
  }
  .van-panel__content{
    .van-cell{
      padding: 0 16px;
      color: $second_text_color;
    }
  }
  .card-list-round-r, .van-cell__title{
    color: $second_text_color !important;
  }
  .card-list-round-bottom-border{
    width: calc(100% - 64px);
    height: 1px;
    margin: 8px 32px 8px 32px;
    border-bottom: 1px dashed $second_border_color;
  }
}
/*************************  通告栏 card 重置结束 *************************/


/*************************  popup 弹出层 action-sheet 重置开始 *************************/
.van-action-sheet {
  // top description
  &__description {
    background-color: $main_bg_color;
    font-size: 12px !important;
    color: $third_text_color !important;
    text-align: left !important;
    height: 50px;
  }
}
.van-share-sheet{
  // share-title
  .van-share-sheet__title{
    font-size: 16px;
  }
  // top description - cancel
  &__cancel {
    color: #fff;
    &:active{
      color: $main_bg_color !important;
    }
    &::before{
      width: 16px;
      height: 2px !important;
      border-radius: 4px;
      background-color: $third_text_color !important;
      content: '' !important;
      color: $second_text_color;
      position: absolute;
      left: 50%;
      bottom: 24px;
      margin-left: -8px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    &::after{
      width: 16px;
      height: 2px;
      border-radius: 4px;
      background-color: $third_text_color;
      content: '' !important;
      color: $second_text_color;
      position: absolute;
      left: 50%;
      bottom: 24px;
      margin-left: -8px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
  }
}

/*************************  popup 弹出层 action-sheet 重置结束 *************************/


/*************************  modal组件 重置开始 *************************/
.van-popup{
  &__close-icon{
    &--top-right{
      top: 12px !important;
      right: 12px !important;
    }
  }
  .pop-icon{
    text-align: center;
    p{
      margin: 16px 0 10px 0px;
    }
  }
}
//弹出窗modal
.modeal-pop {
  padding: 20px 10px 0 10px;
  width: 90%;
  color: $main_text_color;
  border-radius: 10px;
  .pop-container {
    padding: 60px $space_20 $space_48 $space_20;
    .pop-title {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        margin-top: 12px;
    }
    .pop-text {
      font-size: 28px;
      line-height: 48px;
      padding-bottom: $space_10;
      text-align: left;
    }
    .van-button {
      margin-top: 10px;
    }
  }
}
/*************************  modal组件 重置结束 *************************/


/*************************  tab 组件 重置开始 *************************/
.van-tabs__nav {
  &--card {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    overflow: hidden;
    .van-tab {
      &:last-child {
        border-right: none;
      }
    }
  }
}
//tab
.van-tabs__line {
  width: 27.5px !important;
}
/deep/.van-tab {
  font-size: 16px* $ratio;
}
/deep/.van-tabs__nav--card {
  border-radius: 4px* $ratio;
}
.van-tabs__content {
  padding: 10px 22px;
  font-size: 16px;
}
/*************************  tab 组件 重置结束 *************************/
