/*
 * @Description: 规范文档 XJ-C0.2-2019 调整:新增 / 删除请按照规范来
 * @Version: v1.0.0
 * @Autor: xyDideo
 * @Date: 2020-06-01 09:16:39
 * @LastEditors: xyDideo
 * @LastEditTime: 2020-06-03 18:03:03
 */ 

/*
 * 01 标准色
 * 规则：@{深浅}{颜色}{分类}color 变量统一采用小驼峰命名规范
 * 分类：可为空
 *   main：主色
 *   font：字体色
 *   line：线色
 *   gradient: 渐变
 *   second：辅色
 *   third：次级辅色
 * 颜色：不为空，常用颜色英文
 * 深浅：可为空 或者 不透明的
 *   darker：较深
 *   dark：深
 *   light：浅
 *   lighter：较浅
 */
 
// 主色:
$mainColor: #1b65b9; // 品牌蓝
$gradientBlueColor1: #3b71e8;; // 渐变蓝 - 1
$gradientBlueColor2: #3ca0f6; // 渐变蓝 - 2
$darkBlueColor: #285bcc; // 深蓝
$blueColor: #3b71e8; // 常规蓝
$lightBlueColor: #d9e5ff; // 浅蓝


// 场景 辅色
$darkSuccessColor: #1ba64f; // 深绿
$successColor: #28c663; // 常规绿 成功色
$lightSuccessColor: #dff7e8; // 浅绿 用于成功等正确性提示配色（次要）

$darkDangerColor: #db4d4d; // 深红
$dangerColor: #f56c6c; // 常规红 危险色
$lightDangerColor: #fff1f1; // 浅红 用于警告或者错误提示（次要）

$darkWarnColor: #e6a23c; // 深橙色
$warnColor: #feb70f; // 常规橙 警告色
$lightWarnColor: #fff7ed; // 浅橙 用于文字背景色（次要）


// 文本 颜色
$mainTextColor: #303133; // 用于标题、正文等
$secondTextColor: #606266; // 次级文本
$thirdTextColor: #909399; // 辅助文本
$fourTextColor: #c0c4cc; // 禁用文本 / 字体图标颜色


// 边框 颜色
$mainBorderColor: $mainColor; //用于边框悬停颜色等
$borderColor: #cecece; //用于默认边框颜色、分割线等
$secondBorderColor: #f2f6fc;  //用于辅助边框等


// 背景 颜色
$mainBgColor: #f5f7fa;  //用于默认背景色、下拉鼠标悬停背景、禁用状态背景等
$secondBgColor: #f5f6f6; //用于辅助背景色等


// 以下 未校验规范 ,慎用
$background-EBEEF6: #ebeef6;
$background-ecf2f9: #ecf2f9;
$base-orange: #fa531b;
$color-red: #fe5a5a;
$font-gray: #bfbfbf;
$line: #e5e5e5;
$bg-gray: #f5f5f5;
$color-white: #fff;
$menuAcColor: #ebebeb;

