$theme-blue: #1B65B9 ;
$blue-assist:#3CA0F6;

$blue-gradient:#3B71E8 ;
$blue-gradient2:#3CA0F6;

$color-3: #333333;
$color-9: #999;
$color-c: #ccc;
$color-6: #666;

$color-green:#67C23A;
$color-yellow:#E6A23C;
$color-red:#F56C6C;

$color-text:#303133;
$color-text-606266:#606266;
$color-text-909399:#909399 ;
$color-text-C0C4CC:#C0C4CC ;
$color-text-A5A5A5:#A5A5A5;

$color-border:#B6B7B9;
$color-border-CECECE:#CECECE;
$color-border-EBEEF5:#EBEEF5;
$color-border-F2F6FC:#F2F6FC;

$background-F0F2F5:#F0F2F5;
$background-F5F7FA:#F5F7FA;
$background-EBEEF6:#EBEEF6;
$background-ecf2f9:#ecf2f9;
$base-orange:#FA531B;
$color-red:#fe5a5a;
$font-gray:#bfbfbf;
$line:#e5e5e5;
$bg-gray:#f5f5f5;
$color-white:#fff;
$menuAcColor:#EBEBEB;

$width-lay-1100: 1100px;
$width-lay-1200: 1200px;





$ft-12:12px;
$ft-14:14px;
$ft-16:16px;
$ft-18:18px;
$ft-20:20px;
$ft-22:22px;
$ft-26:26px;
$ft-32:32px;
$ft-36:36px;


.van-button--normal{
    padding:0 26px
}
.van-button--small{
    padding:0 16px
}